.zoom-button {
    position: relative;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s;
    overflow: hidden;
}

.zoom-button:hover {
    background-color: lightgrey;
    color: black;
}